@model IEnumerable<MVCADOAssessment.Models.Training>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:blueviolet;">Training List</h2>

<p>
    @Html.ActionLink("Add Training", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TrainingID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.TrainingID }, new { @class = "btn btn-secondary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TrainingID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
